* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

body {
    background: url("pizza_pozadie.jpg");
    position: absolute;
    /*background-position: center center;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.nav-item a {
    color: white;

}

.nav-item {
    width: 100% !important;
    background-color: white !important;
}

.nav-item a {
    color: white;
    font-weight: bold;
    text-align: center !important;
    border: 1px solid white;
}

.nav-item {
    background-color: transparent !important;
}

.nav-item:hover {
    background-color: green !important;
}

.navbar-nav {
    width: 100%;
    background-color: transparent;

}

.container-uvod h1 {
    font-size: 5vw;
    color: white;
    text-align: center;
    margin: 30px auto;
}

@media screen and (max-width: 575px) {
    .container-uvod h1 {
        font-size: 6.5vw;
    }
}

.container-uvod h3 {
    text-align: center;
    color: white;
    font-size: 2vw;
}

@media screen and (max-width: 575px) {
    .container-uvod h3 {
        font-size: 3vw;
    }
}

.float-container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.float-child {
    width: 46%;
    float: left;
    padding: 20px;
    color: white;
    text-align: center;
    border: 2px solid;
    border-radius: 20px;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
}

@media screen and (max-width: 575px) {
    .float-child {
        width: 90%;
        text-align: center;
    }
}

#nadpis {
    text-align: center;
    color: white;
    margin-top: 5%;
    font-size: 80px;
}

.jedla {
    margin-top: 5%;
    margin-left: 33%;
    margin-right: 33%;
    color: white;
}

.jedlo-element {
    margin-top: 3%;
    border-radius: 10px;
    padding: 5px;
}

.nadpis-druhu-jedla {
    font-size: 30px;
    border-bottom: 5px solid;
    margin-top: 5%;
}

.jedla a {
    color: white;
    text-decoration: none;
}

.jedlo-element:hover {
    background-color: green;
    border: 2px solid;
    animation-duration: 1s;
    animation-name: animacia-zelena-farba;
}

@keyframes animacia-zelena-farba {
    from {background-color: transparent;}
    to {background-color: greenyellow;}
}
@media screen and (max-width: 575px) {
    .jedla {
        margin-left: 5%;
        margin-right: 5%;
    }
}


